version: "3.8"
services:
  octoup:
    image: {{ base_image }}
    container_name: octoup
    command: >
{% if start_cmd is defined and start_cmd|length %}
      {{ start_cmd }}
{% endif %}
      --base-path /substrate/chain_data
      --chain /substrate/chainSpec.json
      --port 30333
      --rpc-port 9933
      --rpc-cors all
      --rpc-external
      --rpc-methods Unsafe
      --ws-port 9944
      --ws-external
      --name {{ node_name }}
      --validator
      --no-telemetry
      --prometheus-external
      --prometheus-port 9615
      --wasm-execution Compiled
{% for node in bootnodes|from_json %}
      --bootnodes {{ node }}
{% endfor %}
    ports:
      - 9615:9615
      - 9933:9933
      - 9944:9944
      - 30333:30333
    volumes:
      - ./chain_data:/substrate/chain_data
      - ./chainSpec.json:/substrate/chainSpec.json
    restart: always
